# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://raw.githubusercontent.com/Miku-V2/Brandimages/main/logos/SocialLogo%201.png"
port = 5000
email = "LOSTHACKEROFCgmail.com"
AUTO_BIO=false
global_url = "instagram.com/CHIRAG__BHATNAGAR"
OWNER_NAME = "𝘾𝙃𝙄𝙍𝘼𝙂 𝙔𝙊𝙐𝙏𝙐𝘽𝙀𝙍"
AUTO_REACTION = true
READ_MESSAGE = true
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= GOJO
WORKTYPE = public
"PACK_AUTHER": "DRACO-MD"
"PACK_NAME": "CREATED BY 𝘾𝙃𝙄𝙍𝘼𝙂 𝙔𝙊𝙐𝙏𝙐𝘽𝙀𝙍"
ANTILINK_VALUES = "chat.whatsapp.com"
 
